<div>
    <%= form_for @message do |f| %>

    <% end %>
</div>
<h2 class="text-center"><%= "All Messages" %></h2>
<% @messages.each do |message| %>
  <div class="card ">
    <div class="card-body message-card d-flex">
      <div class="mr-5 text-center d-flex flex-column align-items-center" style="width:70px">
        <div class="rounded-circle bg-grey d-flex justify-content-center align-items-center" style="width: 50px; height: 50px;">
          <%= message.user[0].upcase %>
        </div>
        <div class="mt-2"><%= message.user %></div>
      </div>
      
      <div class="flex-grow-1">
        <div class="text-blue mb-2"><%= message.created_at.strftime('%b, %d, %Y,  %I:%M %p') %></div>
        <div class="p-3 bg-light rounded" style="border: 1px solid grey;">
          <%= message.body %>
        </div>
      </div>

    </div>
  </div>
<% end %>